.dashboard{

    .post-container{
        width: 350px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        margin: 10px;

        .title-box{
            width: 350px;
            height: auto;
            margin-top: 1rem;

            .title-head{
                width: 100px;
                height: auto;
                margin-left: 10px;
                text-align: start;
            }

            .title-body{
                width: 200px;
                height: auto;
            }
        }

        .body-box{
            width: 350px;
            height: auto;
            margin-top: 1rem;

            .body-head{
                width: 100px;
                height: auto;
                margin-left: 10px;
                text-align: start;
            }

            .body-body{
                width: 200px;
                height: auto;
            }
        }
    }
}