
.main-container{
    background-color: #EFF2F9;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.8rem;

    .outlet-container{
        width: 100%;
        min-height: 75vh;
        background-color: white;
        border-radius: 15px;
    }
}