.topbar-container {
    position: relative;
    // border: 1px solid black;
    background-color: #272043;

    .topbar {
        height: 60px;
        display: flex;
        background-color: #272043;
        z-index: 5;

        .logo-container {
            max-width: 220px;
            min-width: auto;
            max-height: 60px;
            // border: 1px solid black;
        }

        .Search-container {
            max-height: 60px;
            // border: 1px solid rgb(246, 240, 240);

            .Searchbar {
                width: inherit;
                position: relative;
                max-width: 30rem;
                border-radius: 5px;
                padding: 0%;

                svg.Searchbar-img {
                    stroke: currentcolor;
                    fill: gray;
                    stroke-width: 0;
                    height: 0.9em !important;
                    width: 0.9em !important;
                }

                .Searchbar-img {
                    position: absolute;
                    left: 10px;
                    top: 13px;
                }

                .Searchbar-input {
                    background-color: #EFF2F9;
                    border-radius: 5px;
                    border: 1px solid #EFF2F9;
                    padding-left: 30px;
                    padding-right: 20px;
                    padding-bottom: 5px;
                    width: 100%;
                }

                .Searchbar-input::-webkit-input-placeholder {
                    /* Edge */
                    font-size: 12px;
                    color: black;
                }

                .Searchbar-input:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    font-size: 12px;
                    color: black;

                }

                .Searchbar-input::placeholder {
                    font-size: 12px;
                    color: black;

                }

            }
        }
    }

    .collapse.show {
        width: 250px;
        position: absolute;
        right: 1%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .collapse {
        width: 250px;
        position: absolute;
        right: 1%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .collapsing {
        width: 250px !important;
        position: absolute;
        right: 1%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
    }

    .card {
        border-radius: 15px;
        // right: 1%;
    }

    .topbar-mobile{
        height: 60px;
        display: flex;
        background-color: #272043;
        z-index: 5;
        display: flex;
        justify-content: center;
        // border: 1px solid red;

        .logo-container {
            max-height: 60px;
            border: 1px solid rgb(245, 14, 14);
        }

        .Search-container {
            max-height: 60px;
            width: 20px;
            // border: 1px solid black;

            .Searchbar {
                width: inherit;
                position: relative;
                max-width: 30rem;
                border-radius: 5px;
                // border: 1px solid black;

                svg.Searchbar-img {
                    stroke: currentcolor;
                    fill: gray;
                    stroke-width: 0;
                    height: 0.9em !important;
                    width: 0.9em !important;
                }

                .Searchbar-img {
                    position: absolute;
                    left: 10px;
                    top: 8px;
                }

                .Searchbar-input {
                    background-color: #EFF2F9;
                    border-radius: 5px;
                    border: 1px solid #EFF2F9;
                    padding-left: 30px;
                    padding-right: 20px;
                    padding-bottom: 5px;
                    width: 100%;
                }

                .Searchbar-input::-webkit-input-placeholder {
                    /* Edge */
                    font-size: 12px;
                    color: black;
                }

                .Searchbar-input:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    font-size: 12px;
                    color: black;

                }

                .Searchbar-input::placeholder {
                    font-size: 12px;
                    color: black;

                }

            }
        }

    }

}

.collapse-card {

    .collapse-body {
        padding: 1px 0rem 1px 0rem !important;
        .collapse-list {
            display: flex;
            justify-content: center;
            

            .navlink {
                text-decoration: none;
                color: gray; 
                font-size: 14px; 
                width: 100%;
                padding: 8px 0px 8px 0px;
            }

            .navlink .active {
                text-decoration: none;
                color: rgb(171, 22, 22);
                font-size: 14px; 
                width: 100%;
                padding: 8px 0px 8px 0px;
            }
            
        }
        .collapse-list:hover .navlink{
            border-radius: 5px;
            background-color: rgb(246, 224, 224);
            border: 1px solid rgb(241, 217, 217);  
            color: rgb(171, 22, 22);
            font-weight: 600;
            padding: 8px 0px 8px 0px;
        }
    }


}

