html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.Overlay {
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 1 !important; 
}

.Overlay.Show {
    display: block;
}


.Modal {
    position: fixed;
    right: -150vh;
    background-color: white;
    min-width: 30%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 0;
    padding: 0 12px 12px;
    transition: all 0.3s ease-out;
    z-index: 5 !important;
    /* border-radius: 15px 15px 0px 0px; */

}

.Modal.Show {
    right: 0;
    padding: 0px;
}








