.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 4px;
  /* margin-top: 0.3rem; */
  background-color: #EFF2F9;
}

input:focus {
  outline: 2px solid #d7e0f5;
  background-color: #f7f6f6;
}

textarea{
  width: 100%;
  border: none;
  min-height: 75%;
  padding: 8px;
  border-radius: 4px;
  /* margin-top: 0.3rem; */
  background-color: #EFF2F9;
}

textarea:focus {
  outline: 2px solid #d7e0f5;
  background-color: #f7f6f6;
}

.cursor {
  cursor: pointer;
}

.text-align {
  text-align: justify;
}

.width30 {
  width: 30%;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 500;
}

.universal-button {
  width: fit-content;
  border: 8px;
  background-color: #d7e0f5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
}

.save-btn{
  padding: 3px 15px 3px 15px;
  border-radius: 6px;
  border: 1px solid whitesmoke;
  margin-top: 1em;
  margin-bottom: 1rem;
}


@media screen and (min-width : 1000px) {
  .hidden-on-desktop {
    display: none !important;
  }
}


@media screen and (max-width : 1000px) {
  .hidden-on-mobile {
    display: none !important;
  }
}